*~
.#*
.lock
CMakeFiles
.gitmodules
CMakeCache.txt
Makefile
.qt
cmake_install.cmake
*.aab
*.zip
*.dm
deb/virtual-pen-linux-host_0.1-1_amd64.deb
deb/virtual-pen-linux-host_0.1-1_amd64/usr/bin/virtual-pen-linux-host
