[Desktop Entry]
Type=Application
Name=Virtual Pen
Comment=Receives pen input from Android tablets
TryExec=/usr/bin/virtual-pen-linux-host
Exec=virtual-pen-linux-host
Terminal=false
Icon=virtual-pen
Categories=Office;Graphics;Education;Presentation;
